numpy==1.26.4
paho-mqtt==2.1.0
pandas==2.2.2
protobuf==5.27.0
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
python-dateutil==2.9.0.post0
pytz==2024.1
shiboken6==6.7.0
six==1.16.0
tzdata==2024.1
